.slider_image {
  position: relative;
  margin: 0 auto -80px auto;
  top: 100px;
}

.slider_image img {
  top: -90px;
  width: 100%;
  position: relative;
}

.circle_one {
  position: absolute;
  top: 22%;
  left: 12%;
}
@media screen and (min-width: 1200px) {
  .circle_one {
    position: absolute;
    top: 22%;
    left: 47%;
  }
}

.animated_circle_one:after {
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  -webkit-animation: ripple 2s infinite;
  animation: ripple 2s infinite;
  background-image: url(../assets/icons/home/about.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.circle_two {
  top: 14%;
  left: 48%;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .circle_two {
    top: 14%;
    left: 68%;
    position: absolute;
  }
}

.animated_circle_two:after {
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  background-image: url(../assets/icons/home/timeline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.circle_three {
  top: 26%;
  left: 76%;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .circle_three {
    top: 32%;
    left: 88%;
    position: absolute;
  }
}

.animated_circle_three:after {
  content: "";
  height: 34px;
  width: 36px;
  border-radius: 15%;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  -webkit-animation: ripple 2s infinite;
  animation: ripple 2s infinite;
  background-image: url(../assets/icons/home/projects.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.circle_four {
  top: 74%;
  left: 70%;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .circle_four {
    top: 80%;
    left: 80%;
    position: absolute;
  }
}

.animated_circle_four:after {
  content: "";
  height: 30px;
  width: 40px;
  border-radius: 15%;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  background-image: url(../assets/icons/home/review.svg);
  background-repeat: no-repeat;
}

.circle_five {
  top: 82%;
  left: 25%;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .circle_five {
    top: 90%;
    left: 55%;
    position: absolute;
  }
}

.animated_circle_five:after {
  content: "";
  height: 30px;
  width: 40px;
  border-radius: 15%;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  -webkit-animation: ripple 2s infinite;
  animation: ripple 2s infinite;
  background-image: url(../assets/icons/home/mail.svg);
  background-repeat: no-repeat;
}

.animated_circle_one,
.animated_circle_two,
.animated_circle_three,
.animated_circle_four,
.animated_circle_five {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(38, 172, 217, 0.4);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(38, 172, 217, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(38, 172, 217, 0);
  }
}
