@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: url("../assets/fonts/Oswald-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 300;
  src: url("../assets/fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@layer base {
  section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 0 32px 0;
    margin-inline: clamp(24px, 7.5vw, 192px);

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: theme("screens.md")) {
      padding-top: 32px;
    }

    @media screen and (min-width: theme("screens.xl")) {
      margin-inline: clamp(192px, 7.5vw, 288px);
    }

    @media screen and (min-width: theme("screens.2xl")) {
      margin-inline: clamp(288px, 20vw, 576px);
    }
  }
}

@layer components {
}

/*= ==================================
        Swiper react
    ====================================== */
.swiper {
  width: 100%;
}

.swiper-slide {
  width: 27rem;
  height: 32rem;
  background-color: theme("colors.light");
  border-radius: 1rem;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 18rem !important;
    height: 26rem !important;
  }
  .swiper-slide img {
    width: 18rem !important;
    height: 26rem !important;
  }
}

.swiper-slide img {
  object-fit: cover;
  border-radius: 0.9rem 0.9rem 0 0;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.test .slider-arrow::after {
  content: "";
}

.swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  border: 1px solid theme("colors.light");
}

.swiper-pagination-bullet-active {
  background: theme("colors.primary");
  border: 1px solid theme("colors.dark");
  width: 12px;
  height: 12px;
}
